
	@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

	*,
	*:before,
	*:after {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	body,
	html {
		height: 100%;
	}

	body {
		background: #f9f9f9;
		background-size: cover;
		margin: 0;
		padding: 0;
		font-family: helvetica, arial, tahoma, verdana;
		line-height: 20px;
		font-size: 14px;
		color: #726f77;
	}

	img {
		max-width: 100%;
	}

	a {
		text-decoration: none;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: "Dosis", arial, tahoma, verdana;
		font-weight: 500;
	}

	.project-name {
		text-align: center;
		padding: 10px 0;
	}

	/* ALL animation types called */

	@-webkit-keyframes bounce-1 {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
		}

		60% {
			opacity: 1;
			-webkit-transform: scale(1.2);
		}

		100% {
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes bounce-1 {
		0% {
			opacity: 0;
			-moz-transform: scale(0.5);
		}

		60% {
			opacity: 1;
			-moz-transform: scale(1.2);
		}

		100% {
			-moz-transform: scale(1);
		}
	}

	@keyframes bounce-1 {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
			-moz-transform: scale(0.5);
			-ms-transform: scale(0.5);
			-o-transform: scale(0.5);
			transform: scale(0.5);
		}

		60% {
			opacity: 1;
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}

		100% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
	}

	@-webkit-keyframes bounce-2 {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(20px);
		}

		100% {
			-webkit-transform: translateX(0);
		}
	}

	@-moz-keyframes bounce-2 {
		0% {
			opacity: 0;
			-moz-transform: translateX(-100px);
		}

		60% {
			opacity: 1;
			-moz-transform: translateX(20px);
		}

		100% {
			-moz-transform: translateX(0);
		}
	}

	@keyframes bounce-2 {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100px);
			-moz-transform: translateX(-100px);
			-ms-transform: translateX(-100px);
			-o-transform: translateX(-100px);
			transform: translateX(-100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(20px);
			-moz-transform: translateX(20px);
			-ms-transform: translateX(20px);
			-o-transform: translateX(20px);
			transform: translateX(20px);
		}

		100% {
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
		}
	}

	@-webkit-keyframes bounce-2-inverse {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(-20px);
		}

		100% {
			-webkit-transform: translateX(0);
		}
	}

	@-moz-keyframes bounce-2-inverse {
		0% {
			opacity: 0;
			-moz-transform: translateX(100px);
		}

		60% {
			opacity: 1;
			-moz-transform: translateX(-20px);
		}

		100% {
			-moz-transform: translateX(0);
		}
	}

	@keyframes bounce-2-inverse {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100px);
			-moz-transform: translateX(100px);
			-ms-transform: translateX(100px);
			-o-transform: translateX(100px);
			transform: translateX(100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(-20px);
			-moz-transform: translateX(-20px);
			-ms-transform: translateX(-20px);
			-o-transform: translateX(-20px);
			transform: translateX(-20px);
		}

		100% {
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
		}
	}